* {
	box-sizing: border-box;
	padding: 0;
}

html {
	font-size: 10px;
}

body {
	font-family: "Inter", sans-serif;
	font-size: 1.4rem;
	margin: 0 auto;
	max-width: 1440px;
}

.attribution {
	display: none;

	@media screen and (min-width: 1024px) {
		background: $toggleDark;
		color: $veryDarkBlueText;
		display: block;
		height: 5vh;
		line-height: 5vh;
		margin-top: 1rem;
		text-align: center;
	}

	& a {
		text-decoration: none;
	}
}
