* {
	box-sizing: border-box;
	padding: 0;
}

html {
	font-size: 10px;
}

body {
	font-family: "Inter", sans-serif;
	font-size: 1.4rem;
	margin: 0 auto;
	max-width: 1440px;
}

.attribution {
	background: $toggleDark;
	color: $veryDarkBlueText;
	height: 5vh;
	margin-top: 60rem;
	line-height: 5vh;
	text-align: center;

	& a {
		text-decoration: none;
	}
}
