.dashboard {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	transform: translateY(-3%);

	@media screen and (min-width: 1024px) {
		flex-wrap: nowrap;
		transform: translateY(-50%);
	}

	&__item {
		align-content: flex-start;
		background-color: $lightGrayishBlueCarkBg;
		border-radius: 0.5rem;
		cursor: pointer;
		display: flex;
		flex-wrap: wrap;
		height: 35vh;
		margin-bottom: 1.5rem;
		text-align: center;
		width: 90%;

		&:hover {
			background-color: darken($lightGrayishBlueCarkBg, 2%);
		}

		@media screen and (min-width: 1024px) {
			margin-left: 2.5rem;
			height: 25vh;
			width: 20%;
		}
	}

	&__item--facebook {
		border-top: 0.5rem solid $facebook;
	}

	&__item--twitter {
		border-top: 0.5rem solid $twitter;
	}

	&__item--instagram {
		position: relative;

		&::before {
			background: $instagram;
			border-radius: 0.5rem 0.5rem 0 0;
			content: "";
			display: block;
			height: 0.5rem;
			position: absolute;
			width: 100%;
		}
	}

	&__item--youtube {
		border-top: 0.5rem solid $youtube;

		& .dashboard__increase {
			color: $brightRed;
		}
	}

	&__name {
		color: $darkGrayishBlueText;
		display: flex;
		flex-basis: 100%;
		font-size: 1.3rem;
		font-weight: 700;
		justify-content: center;
		margin-top: 3rem;
	}

	&__icon {
		margin-right: 0.8rem;
	}

	&__range {
		color: $darkGrayishBlueText;
		flex-basis: 100%;
		letter-spacing: 0.5rem;
		text-transform: uppercase;

		& .dashboard__number {
			color: $veryDarkBlueText;
			display: block;
			flex-basis: 100%;
			font-size: 6rem;
			font-weight: 700;
			letter-spacing: 0;
			text-transform: lowercase;
		}
	}

	&__increase {
		color: $limeGreen;
		flex-basis: 100%;
		font-size: 1.2rem;
		font-weight: 700;
		margin-top: 2rem;
	}
}
