.overview {
	@media screen and (min-width: 1024px) {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		margin-left: 10rem;
		transform: translateY(-25%);
		width: 88%;
	}

	&__title {
		color: $darkGrayishBlueText;
		display: block;
		font-size: 2.5rem;
		margin: 0 auto;
		width: 90%;

		&.dark {
			color: $whiteDarkText;
		}

		@media screen and (min-width: 1024px) {
			grid-column: 1/-1;
			justify-content: start;
			margin: 0;
			margin-left: 1.8rem;
		}
	}
	&__item {
		background-color: $lightGrayishBlueCarkBg;
		border-radius: 0.5rem;
		cursor: pointer;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 2rem auto 0;
		width: 90%;

		&:hover {
			background-color: darken($lightGrayishBlueCarkBg, 2%);
		}

		&.dark {
			background-color: $darkDesaturatedBlueCardBg;
			&:hover {
				background-color: lighten($darkDesaturatedBlueCardBg, 6%);
			}
		}

		& .overview__name {
			color: $desaturatedBlueText;
		}

		& .overview__number {
			color: $whiteDarkText;
		}
	}

	&__name {
		color: $darkGrayishBlueText;
		flex-basis: 80%;
		font-weight: 700;
		margin: 2.5rem 0 0 2rem;

		@media screen and (min-width: 1024px) {
			flex-basis: 60%;
		}
	}

	&__icon {
		height: 3vh;
		margin: 2.5rem 2rem 0 0;

		@media screen and (min-width: 1024px) {
			height: 2vh;
			margin: 2.5rem 2.5rem 0 0;
		}
	}

	&__number {
		font-size: 3.5rem;
		font-weight: 700;
		margin: 1.5rem 0 2rem 1.8rem;
	}

	&__range {
		align-self: center;
		color: $limeGreen;
		font-weight: 700;
		margin-right: 2rem;

		@media screen and (min-width: 1024px) {
			margin-right: 2.5rem;
		}
	}

	.overview__range--negative {
		color: $brightRed;
	}
}
