//primary

$limeGreen: #1db489;
$brightRed: #dc414c;

$facebook: #198ff5;
$twitter: #1ca0f2;
$instagram: linear-gradient(to right, #fdc468, #df4996);
$youTube: #c4032a;

//light Theme

$toggleLight: #aeb3cb;

//background
$whiteBg: #ffffff;
//top BG Pattern
$veryPaleBlueBgPattern: #f5f7ff;
//card BG
$lightGrayishBlueCarkBg: #f0f2fa;
//text
$darkGrayishBlueText: #63687e;
$veryDarkBlueText: #1e202a;

//dark Theme

$toggleDark: linear-gradient(to right, #378fe6, #3eda82);

//background
$veryDarkBlueBg: #1e202a;
//top BG Pattern
$veryDarkBlueBgPattern: #1f212e;
//card BG
$darkDesaturatedBlueCardBg: #252a41;
//text
$desaturatedBlueText: #8b97c6;
$whiteDarkText: #ffffff;
